html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  cursor: url('default.png') 24 0, auto;
  cursor: -webkit-image-set(
    url('default.png') 1x,
    url('default@2x.png') 2x
  ) 24 0, auto;
}

p {
  font-size: 36px;
  text-align: center;
  margin: 1em auto;
}

@media (min-width : 768px) {
  p {
    font-size: 72px;
  }
  p:first-child {
    padding: 0 20%;
  }
}

a {
  font-size: 36px;
  color: black;
  text-decoration: none;
}

@media (min-width: 1200px) {
  a {
    font-size: 72px;
  }
}

@media (max-width : 500px) {
  a {
    font-size: 7vw;
  }
}


a:hover {
  cursor: url('pointer.png') 24 0, pointer;
  cursor: -webkit-image-set(
    url('pointer.png') 1x,
    url('pointer@2x.png') 2x
  ) 24 0, pointer;
}
